{% set PROTOTYPEURL = "" %}
{% set contentTitle = "Prototypes" %}
{% set serviceName = "NHS App" %}
{% set title = contentTitle + " - " + serviceName %}
{% block pageScripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{{ hero({
"heading": serviceName,
"text": contentTitle
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Services</h2>
      <ul class="app-list--unstyled app-list-cards">
        <li class="app-list-cards__item">
          <a href="records/index">
            <h3 class="app-list-cards__heading nhsuk-heading-m">Health records</h3>
            <p>Health records pages and exploration</p>
          </a>
        </li>

        <li class="app-list-cards__item">
          <a href="settings/index">
            <h3 class="app-list-cards__heading nhsuk-heading-m">Settings</h3>
            <p>Settings (notifications, Manage your login)</p>
          </a>
        </li>
      </ul>

      <h2>
        Documentation and examples
      </h2>

      <ul class="app-list--unstyled app-list-cards">
        <li class="app-list-cards__item">
          <a href="examples">
            <h3 class="app-list-cards__heading nhsuk-heading-m">NHS App components and examples</h3>
            <p>Components and examples like cards, panel links and conditional radios</p>
          </a>
        </li>

        <li class="app-list-cards__item">
          <a href="https://beta.nhs.uk/service-manual/styles-components-patterns">
            <h3 class="app-list-cards__heading nhsuk-heading-m">NHS Digital components and patterns</h3>
            <p>NHS Digital service manual website</p>
          </a>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
